@font-face {
  font-family: 'Comfortaa';
  src: url('@/assets/fonts/comfortaa.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.font-comfortaa {
  font-family: 'Comfortaa', sans-serif;
}